.details-div{
    margin:20px 120px;
    background-color: royalblue!important;
}
.description-box{
    margin-right: 50px;
    margin-left: 50px;
    padding: auto;
}
.social-style {
    font-size: 40px;
}